header{
    background-image: url(./img/h_img.jpg);
    height: 110vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
#logo{
    padding-top:240px;
}
.mouse{
    margin-top:180px;
}
.about p{
    font-family: "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 19px;
    line-height: 36px;
}